.md-form i {
    top: 25% !important;
}

.btn-primary,
.pagination .page-item.active .page-link  {
    background: #004B77 !important;
}

.btn-primary:hover,
.pagination .page-item.active .page-link:hover {
    background: #003A66 !important;
}