.navbar.scrolling-navbar {
    padding-top: 32px;
    padding-bottom: 32px;
}

.navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-link .fa {
    color: #333;
}

#navbar_logo {
    height: 40px;
}

.navbar {
    background: #fff;
}

.nav-item a {
    color: #4f4f4e!important;
    font-size: 18px;
}

.nav-item {
    margin: 0 11px;
}
.nav-item a:hover {
    color: #2a2a2a!important;
}